.dashboard {
    box-shadow: 5px 5px 10px 5px #aaa;
    position: fixed;
    width: 200px;
    background-color: #0a9e46;
    color: #fff;
    opacity: 0.85;
    z-index: 100;
    top : 0;
    height: 100vh;
    padding: .5rem 1rem 0 0;
  }

  .navbar-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  
  }
 .name-logo{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
 } 
.li-dashboard, .dashboard-menu, .dashboard-link{
text-decoration: none;
font-size: 15px;
color: #fff;
margin: 30px 0px 30px 5px;
list-style-type: none;
}

.li-dashboard:hover{
  background-color: black;
  padding: 5px ;
  box-shadow: 2px 5px 5px 2px rgb(227, 227, 53);
}
.span-dash{
  font-size:15px;
  font-weight: 600;
  font-family:'Times New Roman', Times, serif;
  position: absolute;
  margin-top: 10px;
  margin-left: 25px;
}
.li-dashboard.active{
  background-color: white;
  color: black;
}
.li-dashboard:focus{
  outline: none;
  background-color: #f5f5f5;
}